---
/**
 * Checkbox Component
 *
 * Styled checkbox input with label.
 *
 * @param {string} id - Element ID
 * @param {string} name - Input name
 * @param {boolean} checked - Whether the checkbox is checked
 * @param {boolean} disabled - Whether the checkbox is disabled
 * @param {string} className - Additional CSS classes
 * @param {string} value - Checkbox value
 */

export interface Props {
  id?: string;
  name?: string;
  checked?: boolean;
  disabled?: boolean;
  className?: string;
  value?: string;
  /**
   * Test ID for E2E testing
   */
  'data-testid'?: string;
}

const {
  id = '',
  name = '',
  checked = false,
  disabled = false,
  className = '',
  value = '',
  'data-testid': dataTestId = '',
} = Astro.props;

const uniqueId = id || `checkbox-${Math.random().toString(36).substring(2, 9)}`;
---

<div class={['form-control', className].filter(Boolean).join(' ')}>
  <label class="label cursor-pointer justify-start gap-2">
    <input
      type="checkbox"
      id={uniqueId}
      name={name}
      value={value}
      checked={checked}
      disabled={disabled}
      class="checkbox checkbox-accent"
      data-testid={dataTestId || undefined}
    />
    <span class="label-text">
      <slot />
    </span>
  </label>
</div>
