---
/**
 * Label Component
 *
 * Form label with optional required indicator and help text.
 *
 * @param {string} htmlFor - ID of the form element this label is for
 * @param {boolean} required - Show required asterisk
 * @param {string} helpText - Additional help text displayed below the label
 * @param {string} className - Additional CSS classes
 * @param {string} id - Element ID
 */

export interface Props {
  htmlFor?: string;
  required?: boolean;
  helpText?: string;
  className?: string;
  id?: string;
}

const { htmlFor = '', required = false, helpText = '', className = '', id = '' } = Astro.props;
---

<label id={id} for={htmlFor} class={['label py-1', className].filter(Boolean).join(' ')}>
  <span class="text-xs uppercase tracking-widest text-base-content/50 font-medium">
    <slot />
    {required && <span class="sr-only">(required)</span>}
  </span>
  {helpText && <span class="label-text-alt text-neutral">{helpText}</span>}
</label>
